@import "_variables";

.header {
  padding-block: 2rem;

  z-index: 9999;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: $light-accent;

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 4rem;
  }

  &__anchor {
    color: $dark;
    font-size: 2.4rem;
  }

  &__anchor:hover {
    color: $primary-colour;
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .header {
    &__nav {
      gap: 2rem;
    }
  }
}
