@import "_variables";

.hero {
  padding-block: 28rem 64rem;

  &__container {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 9.6rem;
    }
  }

  &__dynamic-text-container {
    width: 80vw;

    display: flex;
  }

  &__intro {
    padding-top: 4rem;
  }
}

.typed-cursor {
  align-self: center;
  font-size: 8rem;
  font-style: italic;
}

@media (max-width: 768px) {
  .hero {
    &__container {
      h1 {
        font-size: 4.8rem;
        text-align: center;
      }
    }
    &__dynamic-text-container {
      display: block;
    }
  }
  span {
    display: none;
  }
}
