@import "_variables";

.hero {
  padding-block: 28rem 56rem;
  padding-inline: 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 9.6rem;
    }
  }

  &__dynamic-text-container {
    height: 20vh;
    width: 60vw;

    display: flex;

    white-space: nowrap;
  }

  &__intro {
    padding-top: 4rem;
  }

  &__icon {
    width: 80px;
  }
}

.typed-cursor {
  margin: 0 0 10vh 0;
  font-size: 8rem;
}

@media (max-width: 1320px) {
  .hero {
    &__container {
      h1 {
        font-size: 7.2rem;
        text-align: center;
      }
    }
    &__dynamic-text-container {
      display: block;
    }
    &__icon {
      width: 60px;
    }
  }
  span {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero {
    &__container {
      h1 {
        font-size: 4.8rem;
        text-align: center;
      }
    }
    &__dynamic-text-container {
      display: block;
    }
    &__icon {
      width: 40px;
    }
  }
  span {
    display: none;
  }
}

@media (max-width: 576px) {
  .hero {
    &__container {
      height: 200px;
      h1 {
        font-size: 3.2rem;
        text-align: center;
      }
    }
    &__dynamic-text-container {
      white-space: wrap;
    }
    &__icon {
      width: 25px;
    }
  }
}
