/*
-------------------
CSS SELECTOR ORDER
-------------------

-- BOX MODEL --
margin, padding
-- CONTENT --
height, width
-- POSITION --
position, top, bottom
-- DISPLAY --
display, justify, align
-- TEXT --
color, font-size
-- BORDER --
border-radius
-- STYLE --
*/

@import "variables";

// IMPORTS USED ONLY ON DEPLOYMENT
// IMPORTED DIRECTLY INTO INDEX.HTML DURING DEVELOPMENT

// @import "header";
// @import "hero";
// @import "about";
// @import "projects";
// @import "contact";

@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

html {
  font-size: 62.5%;
  font-family: "Inconsolata", monospace;

  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  color: $dark;
  font-size: 2.4rem;

  background-color: $light;
}

a,
button {
  color: $dark;
  font-family: "Inconsolata", monospace;
  font-size: 2.4rem;

  text-decoration: none;

  transition: 0.25s;

  &:visited {
    color: $dark;
  }
  &:hover {
    color: $primary-colour;

    transition: 0.15s;
  }
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 4.8rem;
}

.global-padding {
  padding-inline: 20%;
}

.title-highlight {
  color: $primary-colour;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}

.page-title-wrapper {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.sticky {
  position: fixed;
  top: 0;
}

::-webkit-scrollbar {
  display: none;
}

.fade-in-section {
  opacity: 0;
  transition: opacity 1.4s ease-out, transform 0.8s ease-out;
}

.modal {
  padding: 4rem;

  max-width: 40%;
  height: 40%;

  display: flex;

  border-radius: 1rem;
  border: $dark 2px solid;

  background-color: $light-accent;

  overflow-y: auto;

  &-bg {
    width: 100vw;
    height: 100vh;

    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    z-index: 1;
  }

  &-sub-header {
    margin-top: 2rem;

    font-weight: bold;
  }

  &-close {
    margin-left: 2rem;

    font-size: 3.6rem;

    border: 3px $dark solid;
    border-radius: 1.2rem;
    background: none;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  .global-padding {
    padding-inline: 8%;
  }

  .modal {
    padding: 2rem;

    max-width: 75%;

    &-close {
      margin-left: 1rem;
    }
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.4rem;
  }
}
